@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading-xl {
    @apply font-bold text-xl;
  }
  .heading-lg {
    @apply font-bold text-lg md:text-xl;
  }
  .heading-md {
    @apply font-bold text-md;
  }
  .heading-sm {
    @apply font-bold text-sm text-mediumGrey tracking-widest;
  }
  .body-lg {
    @apply text-base;
  }
  .body-md {
    @apply font-bold text-sm;
  }
  .btn {
    @apply rounded-full transition duration-200 text-white font-bold text-base p-2;
    &__primary {
      @apply bg-mainPurple text-white  hover:bg-mainPurpleHover;
    }
    &__secondary {
      @apply bg-mainPurple bg-opacity-10 text-mainPurple hover:bg-opacity-25 dark:bg-opacity-100 dark:bg-white;
    }
    &__danger {
      @apply bg-mainRed text-white  hover:bg-mainRedHover;
    }
    &.btn-lg {
      @apply text-md font-bold p-4;
    }
  }
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal.exit {
  opacity: 0;
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}
